
<% @admin_albums.each do |admin_album| %>
  <div class="albums">
    <div class="img">
      <%= link_to admin_album do %>
      <%= image_tag(admin_album.cover_url(:medium)) if admin_album.cover? %>
      <% end %>
    </div>
    <div class="info">
      <%= link_to "设置",edit_admin_album_path(admin_album),method: :get ,class:"myBtn show" %>
      <%= link_to "删除",admin_album, method: :delete,data: { confirm: '确定?' },class:"myBtn delete" %>
    </div>
  </div>
<% end %>
