
<div class="add_photo item">
  <%= link_to "/admin/upload/"+@admin_album.name do %>
    <span class="glyphicon glyphicon-plus"></span>
  <% end %>
</div>
<% @album_photos.each do |p| %>
  <div class="photos item">
    <div class="img">
      <%= image_tag(p.img_url(:medium)) if p.img? %>
    </div>
    <div class="info">
      <%= link_to "查看",p,method: :get ,class:"del btn btn-inline btn-info" %>
      <%= link_to "删除","/admin/remove_photo/#{@admin_album.id}/#{p.id}",data: { confirm: '确定?' }, method: :post,class:"del btn btn-inline btn-danger" %>
    </div>
  </div>
<% end %>
