<div id="container"></div>
<div id="info">点击下方四个按钮切换特效，拖动鼠标查看不一样的视觉效果,滑动鼠标滚轮调整视野大小,鼠标右键移动模型</div>
<div id="menu">
<button id="table">TABLE</button>
<button id="sphere">SPHERE</button>
<button id="helix">HELIX</button>
<button id="grid">GRID</button>
</div>
<%= stylesheet_link_tag "home/texiao/#{@admin_effect.name}" %>
<%= javascript_include_tag "home/texiao/#{@admin_effect.name}" %>