// Place all the styles related to the admin::photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photos{
  float:left;
  margin-right: 50px;
  margin-top: 20px;
  width:auto;
  height:auto;
  border: 1px solid #EEE;
  text-align: center;
  .img{
    max-width: 200px;
    max-height: 200px;
  }
  .info{
    .myBtn{
      width:50%;
      height:24px;
      color:white;
      text-align: center;
      font-size: 13px;
      line-height: 26px;
    }
    .show{
      float:left;
      background-color: #619FDD;
    }
    .delete{
      float:right;
      background-color: #F87272;
    }
  }


}
