<h2 class="title">
  我的相册
</h2>
<span class="describe">在此可管理你的相册。</span>
<ul>
  <li>
    <a href=<%= admin_albums_path %> class="link">
      <i class="glyphicon glyphicon-th-large"></i>
      <span>我的相册</span>
    </a>
  </li>
</ul>
