<h2 class="title">
  特效
  <!-- <a href=<%= new_admin_album_path %> class="link">
    <i class="glyphicon glyphicon-plus"></i>
  </a> -->
</h2>
<span class="describe">在此可以预览可用的特效。</span>
<ul>
  <li>
    <!-- <a href=<%= admin_effects_path %> class="link">
      <i class="glyphicon glyphicon-th-large"></i>
      <span>我的相册</span>
    </a> -->
  </li>
</ul>
