<h2 class="title">
  我的相片
  <a href=<%= new_admin_photo_path %> class="link">
    <i class="glyphicon glyphicon-plus"></i>
  </a>
</h2>
<span class="describe">在此可管理你的相片。</span>
<ul>
  <li>
    <a href=<%= admin_photos_path %> class="link">
      <i class="glyphicon glyphicon-th-large"></i>
      <span>所有相片</span>
    </a>
  </li>
</ul>
